# Исключаем папку Pods (CocoaPods)
Pods/

# Исключаем временные файлы Xcode
*.xcworkspace
*.xcodeproj
DerivedData/

# Исключаем другие большие файлы (например, статические библиотеки)
*.a

# Исключаем временные файлы macOS
.DS_Store

# Исключаем пользовательские настройки Xcode
*.xccheckout
*.xcuserstate
